.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}

.header-welcome {
    grid-column: span 4;
    grid-row: span 2;
}

.signin-div {
    grid-column: span 4;
    grid-row: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-orange {
    display: flex;
    width: 23.22rem;
    height: 22.11rem;
    flex-direction: column;
    background-color: #FF5942;
    border-radius: 10px;
    box-shadow: 0px 10px 6px 2px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.welcome-text {
    color: #ffffff;
    font-weight: bold;
    padding-left: 3rem;
    width: 23.22rem;
}

.google-button {

    width: 16.06rem;
    height: 2.78rem;
    margin: 5rem 0 5rem 0;
}
.google-button:hover{
    cursor: pointer;
    box-shadow: 0px 10px 6px 2px rgba(0, 0, 0, 0.3);
}

.help-welcome {
    width: 2.78rem;
    height: 2.78rem;
}